#content{
  height: 100%;
}
.wrap-music{
  height: 94%;
  position: absolute;
  right: 15px;
  top: 0
}
html,body,section{
  height: 100%;
  color: #fff;
  overflow:hidden;
}
body{
  position: relative;
}
.layout{
  margin:0 auto;
  width: 500px;
}
/*@media(min-width:700px){
  .layout{
    width: 600px;
  }
}
@media(min-width:900px){
  .layout{
    width: 800px;
  }
}
@media(min-width:1000px){
  .layout{
    width: 900px;
  }
}
@media(min-width:1200px){
  .layout{
    width: 1100px;
  }
}*/
.bg{
  position:absolute;
  left: -10px;
  top: -10px;
  right: -10px;
  bottom: -10px;
  /*background: url('../images/bg.jpg');*/
  background-size:cover;
  filter:blur(4px);
  z-index: -1;
}
.bg::before{
  content:'';
  position:absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.6);
}
#page-cover{
  display: none;
}

main{
  padding-top: 12vh;
  height: calc(100% - 24vh);
  display: flex;
}
main .aside{
  width: 205px
}
main .aside > figure{
  width: 30vh;
  height: 36vh;
  background-image: url(../images/cover.jpg);
  background-size: cover;
}
main .aside .actions{
  display: flex;
  margin-top: 4vh;
}
main .aside .icon{
  flex:1;
  width: 5vh;
  height: 5vh;
  fill: rgba(255,255,255,.4);
  transition: fill .4s;
}
main .aside .icon:hover{
  fill:#fff;
}
main .aside .btn-play{
  display: none
}
main .aside .btn-play.active{
  display: block
}
main .aside .btn-pause.active{
  display:none
}

main .detail{
  flex:1;
  margin-left: 10vh;
}
main .detail .tag{
  font-size: 1.5vh;
  padding:.4em .4em;
  background:#2e6eec;
}
main .detail h1{
  font-size: 4vh;
  margin-top: 2vh;
}
main .icons{
  display: flex;
  margin-top: 10vh;
}
main .icons .item{
  flex:1;
}
main .icons .item .icon{
  fill:#fff;
  width: 2.5vh;
  height: 2.5vh;
  margin-right: 1vh;
      vertical-align: text-bottom
}
main .icons span{
  font-size: 2.3vh;
}
main .area-bar{
  margin-top: 8vh;
  display: flex;
  align-items: center;
}
main .area-bar .bar{
  position:relative;
  flex:1;
  height: .8vh;
  border-radius: .2vh;
  background: rgba(255,255,255,.4);
}
main .area-bar .bar-progress{
  position: absolute;
  height: .8vh;
  width: 10%;
  background-color: #fff;
  border-radius: .2vh;
  transition:width .8s;
}
main .area-bar .current-time{
  width: 5vh;
  font-size: 2vh;
  margin-left: 1vh;
}
main .author{
  font-size: 2.5vh;
  margin-top: 3vh;
}
main .lyric{
  font-size: 2.5vh;
  margin-top: 2vh;
  color: rgba(255,255,255,.4);
}
.boomText{
  display: inline-block;
  opacity: 0;
}

footer{
  height: 24vh;
  color: #fff;
  background:rgba(255,255,255,.2);
}
footer>.layout{
  position:relative;
}
footer .box{
  overflow: hidden;
  position:relative;
  height: 24vh;
}
footer .iconfont{
  position: absolute;
  top: 6.5vh;
  opacity: 0;
  transition: all .4s;
  z-index: 1;
}
footer:hover .iconfont{
  opacity: 1;
}
footer .iconfont .icon{
  width: 8vh;
  height: 8vh;
  fill: rgba(255,255,255,.4);
}
footer .iconfont .icon:hover{
  fill:rgba(255,255,255,.8);
}
footer .icon-left{
  left: -1vh;
}
footer .icon-right{
  right: -1vh;
}
footer .disabled>.icon:hover{
  fill: rgba(255,255,255,.4);
}
footer ul{
  position: absolute;
  left:0;
}
footer ul::after{
  content:'';
  display: block;
  clear: both;
}
footer li{
  float: left;
  width: 20vh;
  height: 20vh;
  margin:2vh 2vh 0 3vh;
}
footer li:hover{
  box-shadow: 0 0 .5vh .5vh rgba(255,255,255,.4);
}
footer li.active{
  box-shadow: 0 0 .5vh .5vh rgba(255,255,255,.4);
}
footer li .cover{
  height: 16vh;
  background-size: cover;
  background-position: center center;
}
footer h3{
  margin-top: 1vh;
  text-align: center;
  color: rgba(255,255,255,.4);
  font-size: 2vh;
}
